header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}

/*BARRA MENU*/
.contenedor_menu{
    width: 100%;
    height: 70px;
    background-color: blue;
}


















/* .header{
    background: rgb(248, 0, 0);
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif; 
    
    
    
    text-align: center;
    justify-content: center;

} 
.contenedo1{
    background-color: blue;
    text-align: center;
    justify-content: center;
    display: inline;
}

ul, ol{
    list-style: none;
}

.conteiner li {
      background: rgb(177, 160, 160); 
     color: white;
     text-decoration: none;
     padding: 30px 17px;
    
}

.conteiner li:hover{
    background-color: #434343;
}
.conteiner > li{
float: calc(50px, 50px);
    
}

.conteiner li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.conteiner li:hover > ul{
  display: block;
}  */