header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}

/*BARRA MENU*/
.contenedor_menu{
    width: 100%;
    height: 70px;
    background-color: blue;
    padding: 0px 20px;

}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;

}
 nav > ul{
    height: 100%;
    display: flex;
   
 }

 nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
 }

nav > ul > li:hover{
 transform: scale(1.1);
 background-color: aqua;
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,0.5);
}

/*SUBMENU*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    box-shadow:0px 0px 10px 0px rgba(0, 0, 0,0.5);
}









